<% if @show_blank_slate %>
  <div class="blankslate">
    <span class="mega-octicon octicon-plus"></span>
    <span class="mega-octicon octicon-list-unordered"></span>
    <span class="mega-octicon octicon-zap"></span>
    <h3>But I've got a blank space baby...</h3>
    <p>And I'll flip your features.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/e-ORhEE9VVg" frameborder="0" allowfullscreen></iframe>
  </div>
<% else %>
  <nav class="menu">
    <span class="menu-heading">Enabled</span>
    <% @enabled.each do |feature| %>
      <a href="<%= "#{script_name}/features/#{feature.key}" %>" class="menu-item">
        <%= feature.key %></a>
    <% end %>
  </nav>

  <nav class="menu">
    <span class="menu-heading">Conditionally Enabled</span>
    <% @conditional.each do |feature| %>
      <span class="right"><%= feature.description %></span>
      <a href="<%= "#{script_name}/features/#{feature.key}" %>" class="menu-item">
        <%= feature.key %>
      </a>
    <% end %>
  </nav>

  <nav class="menu">
    <span class="menu-heading">Disabled</span>
    <% @disabled.each do |feature| %>
      <a href="<%= "#{script_name}/features/#{feature.key}" %>" class="menu-item">
        <%= feature.key %></a>
    <% end %>
  </nav>
<% end %>
