<% if params.key?("error") %>
  <div class="flash flash-error">
    <%= params["error"] %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @feature.key %></h3>
  </div>
  <div class="panel-body">
    <%= @feature.description %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Boolean</h3>
  </div>
  <div class="panel-body">
    <form action="/features/<%= @feature.key %>/boolean" method="post">
      <input type="submit" name="action" value="Enable" class="btn btn-primary" <%= @feature.boolean_value ? "disabled" : "" %>>
      <input type="submit" name="action" value="Disable" class="btn btn-danger" <%= @feature.boolean_value ? "" : "disabled" %>>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actors</h3>
  </div>
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Groups</h3>
  </div>
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Percentage of Actors</h3>
  </div>
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Percentage of Time</h3>
  </div>
  <div class="panel-body">
    <form action="/features/<%= @feature.key %>/percentage_of_time" method="post">
      <input type="text" name="value" value="<%= @feature.percentage_of_time_value %>">
      <input type="submit" name="action" value="Enable" class="btn btn-primary">
    </form>
  </div>
</div>
