<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title ? "#{@page_title} // " : "" %>Flipper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/octicons/octicons.css">
    <link rel="stylesheet" href="<%= script_name %>/css/application.css">

    <script src="<%= script_name %>/js/jquery.min.js"></script>
    <script src="<%= script_name %>/js/application.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="tabnav">
        <a class="btn btn-sm right" href="/features/new">Add Feature</a>
        <nav class="tabnav-tabs">
          <a href="<%= script_name %>/features" class="tabnav-tab selected">
            Features
          </a>
        </nav>
      </div>

      <div>
        <%== yield %>
      </div>
    </div>
  </body>
</html>
