<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flipper</title>
    <link rel="stylesheet" type="text/css" href="<%= script_name %>/css/primer.css">
    <link rel="stylesheet" type="text/css" href="<%= script_name %>/css/application.css">

    <script>
      var Flipper = {};
      Flipper.Config = {
        url: "<%= script_name %>"
      }
    </script>
    <script src="<%= script_name %>/js/jquery.min.js"></script>
    <script src="<%= script_name %>/js/application.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="columns">
        <!-- <h1>
          <a href="<%= script_name %>/">
            <img src="<%= script_name %>/images/logo.png" alt="Flipper" />
          </a>
        </h1> -->
      </div>

      <div id="content" class="columns">
        <div class="one-third column">
          <nav class="menu">
            <span class="menu-heading">Flipper</span>
            <a class="menu-item selected" href="/features">Features</a>
            <a class="menu-item" href="/new">Add Feature</a>
          </nav>
        </div>

        <div class="two-thirds column">
          <%== yield %>
        </div>
      </div>
    </div>
  </body>
</html>
