<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flipper</title>
    <link rel="stylesheet" type="text/css" href="<%= script_name %>/css/primer.css">
    <link rel="stylesheet" href="/octicons/octicons.css">
    <link rel="stylesheet" type="text/css" href="<%= script_name %>/css/application.css">

    <script>
      var Flipper = {};
      Flipper.Config = {
        url: "<%= script_name %>"
      }
    </script>
    <script src="<%= script_name %>/js/jquery.min.js"></script>
    <script src="<%= script_name %>/js/application.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="tabnav">
        <a class="btn btn-sm right" href="/features/new">Add Feature</a>
        <nav class="tabnav-tabs">
          <a href="<%= script_name %>/features" class="tabnav-tab selected">
            Features
          </a>
        </nav>
      </div>

      <div>
        <%== yield %>
      </div>
    </div>
  </body>
</html>
